.button {
    @include df_ac_jcc;
    @include text_1;
    color: white;
    transition: all .3s;
    &_size {
        &_password {
            @include text_1;
            padding: 0.938rem 2.5rem;
            @include mobile {
                
            }
        }
        &_other{
            padding: 0.625rem 1.25rem;
            @include heading_3;
            @include mobile{
            }
        }
        
    }
    &_password {
        background-color: black;
        border-radius: 0.625rem;
        max-width: 8.5rem;
        &:hover {
            background-color: #9F9F9F;

        }
        &:active, &:focus {
            background-color: white;
            color: #4A4A4A;
            border: 1px solid #4A4A4A

        }
        
    }

    &_spend {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: white;
        &:hover {
            border: 1px solid #E820E5;
            color: #E820E5;
        }
        &:active, &:focus {
            border: 1px solid #E820E5;
            background-color: #E820E5;
            color: white;
        }
        &_bg{
            background-color: #E820E5;
            color: black;
            border: none;
        }
        
    }
    &_use {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: white;
        &:hover {
            border: 1px solid #00F69D;
            color: #00F69D;
        }
        &:active, &:focus {
            border: 1px solid #00F69D;
            background-color: #00F69D;
            color: #1C1917;
        }
        &_bg{
            background-color: #00F69D;
            color: black;
            border: none;
        }
    }
    &_look {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: white;
        &:hover {
            border: 1px solid #FFFF26;
            color: #FFFF26;
        }
        &:active, &:focus {
            border: 1px solid #FFFF26;
            background-color: #FFFF26;
            color: #1C1917;
        }
        &_bg{
            background-color: #FFFF26;
            color: black;
            border: none;
        }
    }
    &_tasks {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: white;
        &:hover {
            border: 1px solid #00F2F6;
            color: #00F2F6;
        }
        &:active, &:focus {
            border: 1px solid #00F2F6;
            background-color: #00F2F6;
            color: #1C1917;
        }
        &_bg{
            background-color: #00F2F6;
            color: black;
            border: none;
        }
    }
    &_icon{
        border: 1px solid #00F2F6;
        padding: 0.938rem 1.125rem;
        svg path {
            stroke: #00F2F6; /* Установите цвет обводки на синий */
        }
        &:hover {
            border: 1px solid #FFFFFF;
            svg path {
                stroke: #FFFFFF; 
            }
        }
        &:active, &:focus {
            background: #00F2F6;
            border: 1px solid #FFFFFF;
            svg path {
                stroke: #FFFFFF; 
            }
        }
        
    }
    
}